@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background-image: url(../images/background-pattern-desktop.svg);
        background-size: contain;
    }

    main{
        width: 55vw;
    }

    .titulo > h1{
        width: 85%;
    }

    h2:hover{
        color: #AD28F1;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    body{
        background-image: url(../images/background-pattern-desktop.svg);
        background-size: contain;
    }
    main{
        width: 55vw;
    }

    .titulo > h1{
        width: 90%;
    }

    h2:hover{
        color: #AD28F1;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px){
    body{
        background-image: url(../images/background-pattern-desktop.svg);
        background-size: contain;
    }
    main{
        width: 55vw;
    }

    .titulo > h1{
        width: 93%;
    }

    h2:hover{
        color: #AD28F1;
        cursor: pointer;
    }
}

@media screen and (min-width: 1440px){
    body{
        background-image: url(../images/background-pattern-desktop.svg);
        background-size: contain;
    }

    main{
        width: 55vw;
    }

    .titulo > h1{
        width: 93%;
    }

    h2:hover{
        color: #AD28F1;
        cursor: pointer;
    }
}